APP_ENV=local
APP_NAME=payment-gateway-simulator
HTTP_ADDR=:8080
DATABASE_DSN=host=postgres user=postgres password=postgres dbname=payment_gateway port=5432 sslmode=disable TimeZone=UTC
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_HOURS=720
PAYMENT_BASE_URL=http://localhost:8080/pay
OTEL_EXPORTER_JAEGER_ENDPOINT=http://jaeger:14268/api/traces
